.noUi-target {
  background: #d1dad3;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.noUi-connect {
  background: #f8f7f4;
}

.noUi-horizontal {
  height: 4px;
}

.noUi-handle:after, .noUi-handle:before {
  content: none;
}

.noUi-horizontal .noUi-handle {
  right: -17px;
  top: -8px;

  width: 21px;
  height: 21px;
  padding: 0;
  margin: 0;
  
  border: 8px solid #ffffff;
  border-radius: 50%;

  background-color: #ababab;
  box-shadow: none;

  cursor: default;
  outline: none;
}

.noUi-horizontal .noUi-handle:hover,
.noUi-horizontal .noUi-handle:focus {
 
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}