.additional {
  position: relative;
  padding-top: 42px;
  border-top: 2px solid #68B738;

  @media (min-width: $tablet-width) {
    padding-top: 92px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}

.additional__inner {
  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}



.additional__item {
  display: flex;
  flex-wrap: wrap;
  padding: 12px 0 19px;
  border-bottom: 1px solid #CDCDCD;

  &:first-child {
    border-top: 1px solid #CDCDCD;
  }

  @media (min-width: $tablet-width) {
    padding: 26px 38px 28px;
    border: 1px solid #CDCDCD;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    align-items: center;
    width: 896px;
    padding: 16px 0 17px;

    border: none;
    border-bottom: 1px solid #CDCDCD;
  }
}

.additional__table {
  width: 100%;

}

.additional__table tbody {
  @media (min-width: $tablet-width) {
    display: flex;
  }
}

.additional-table__heading {
  display: inline-block;
  margin-bottom: 5px;
  @include text-params-2(16, 16, 400, $fontFamily);
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-bottom: 25px;
    @include text-params-2(20, 20, 400, $fontFamily);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }

}

.additional-table__value {
  @media (min-width: $tablet-width) {
    display: flex;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    align-items: center;
    width: 300px;
    margin-right: 40px;
    padding-top: 3px;

  }
}

.additional-table__quantity {
  display: inline-block;
  margin-bottom: 10px;

  @include text-params(14, 14, 400);

  @media (min-width: $tablet-width) {
    margin-right: 51px;
    @include text-params(16, 20, 400);
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.additional-table__price {
  text-align: right;
  @include text-params(14, 14, 400);

  @media (min-width: $tablet-width) {
    @include text-params(16, 20, 400);
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-bottom: 0;
  }
}

.additional__button {
  width: 100%;

  @media (min-width: $desktop-width) {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 244px;
  }
}

.additional__gift {
  max-width: 280px;
  min-height: 289px;
  margin: 39px auto 35px;
  padding-top: 192px;
  padding-bottom: 43px;


  background-image: url(../img/icons/icon_gift.svg), url(../img/background/gift-photo-mobile.jpg);
  background-repeat: no-repeat;
  background-position: 103px 58px, 0 0;
  background-size: 78px 79px, cover;

  @media (min-width: $tablet-width) {
    max-width: 100%;
    min-height: 200px;
    margin: 69px auto 76px;
    padding: 0;
    padding-top: 71px;
    padding-right: 124px;

    background-image: url(../img/icons/icon_gift.svg), url(../img/background/gift-photo-tablet.jpg);
    background-size: 78px 79px, cover;
    background-position: 89px 64px, 0 0;

  }

  @media (min-width: $desktop-width) {
    min-width: 245px;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    background-image: url(../img/icons/icon_gift.svg), url(../img/background/gift-photo-desktop.jpg);
    background-position: 84px 55px, 0 0;
  }

}

.additional__gift-descr {
  width: 55%;
  margin: 0 auto;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 25%;
    margin-left: 72%;

    text-align: left;
  }

  @media (min-width: $desktop-width) {
    width: 161px;
    margin: 0 auto;
    padding-top: 185px;

    text-align: center;
  }
}