@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a,
a:hover,
a:visited {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

header,
nav,
aside,
footer {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page {
  height: 100%;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #212121;
}

.page__body {
  min-height: 100%;
  background-color: #ffffff;
}

._lock {
  overflow: hidden;
}

.wrapper {
  display: -ms-grid;
  display: grid;
  min-height: 100vh;
  -ms-grid-columns: 1fr;
      grid-template: minmax(100px, auto) 1fr minmax(70px, auto)/1fr;
      grid-template-areas: "header"
 "main"
 "footer";
}

.container {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
}

.input {
  width: 100%;
  padding: 16px 0 16px 10px;
  background-color: #F8F8F8;
  border: 1px solid #E4E4E4;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: #212121;
  opacity: 0.4;
}

.input::-webkit-input-placeholder,
.textarea::-webkit-input-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #212121;
  opacity: 0.9;
}

.input::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #212121;
  opacity: 0.9;
}

.input:-moz-placeholder,
textarea:-moz-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #212121;
  opacity: 0.9;
}

.input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  font-family: Montserrat;
  font-size: 14px;
  color: #212121;
  opacity: 0.9;
}

.input:focus::-webkit-input-placeholder,
textarea:focus::-webkit-input-placeholder {
  color: transparent;
}

.input:focus::-moz-placeholder,
textarea:focus::-moz-placeholder {
  color: transparent;
}

.input:focus:-moz-placeholder,
textarea:focus:-moz-placeholder {
  color: transparent;
}

.input:focus:-ms-input-placeholder,
textarea:focus:-ms-input-placeholder {
  color: transparent;
}

.textarea {
  resize: none;
}

.btn {
  position: relative;
  width: 100%;
  padding: 14px 20px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  background-color: #428A60;
}

.header__logo {
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  z-index: 5;
  width: 40px;
  height: 40px;
}

.header__burger-icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 18px;
  cursor: pointer;
}

.header__burger-icon span,
.header__burger-icon::before,
.header__burger-icon::after {
  position: absolute;
  left: 0;
  width: 100%;
  height: 10%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #ffffff;
}

.header__burger-icon::before,
.header__burger-icon::after {
  content: "";
}

.header__burger-icon::before {
  top: 0;
}

.header__burger-icon::after {
  bottom: 0;
}

.header__burger-icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
      -ms-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.header__burger-icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
      -ms-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.header__burger-icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
      -ms-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.header__burger-icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
      -ms-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding: 100px 30px 30px 30px;
  background-color: #ffffff;
  -webkit-transition: left 0.3s ease 0s;
  -o-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
}

.nav::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #35D2AB;
  z-index: 2;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.nav__link {
  font-size: 18px;
  color: #212121;
  font-weight: 700;
}

.nav__item {
  margin-bottom: 50px;
}

.nav._active {
  left: 0;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  margin-bottom: 20px;
  background-color: #35D2AB;
  z-index: 10;
}

.header__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
}

.product {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 70px;
  padding: 75px 0 30px;
  background-color: #F4F4F4;
}

.product__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 24px 80px rgba(0, 0, 0, 0.1);
  border-radius: 1px;
}

.product__column {
  min-width: 320px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  min-height: 311px;
}

.product-presentation {
  position: relative;
  padding: 37px 20px 0px;
}

.product-presentation__bg-circle {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  max-width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 202 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='101' cy='101' r='101' fill='%23428A60'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: center 32px;
  background-size: 63.1%;
}

.product-presentation__photo {
  position: relative;
  max-width: 79%;
  margin-left: 36px;
  margin-right: auto;
  padding-bottom: 87%;
}

.product-presentation__image {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  position: absolute;
  top: 0;
  left: 0;
}

.product-presentation__title,
.product-presentation__subtitle {
  display: inline-block;
  font-size: 18px;
  line-height: 130%;
  font-weight: 700;
}

.product-presentation__subtitle {
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.form-group {
  right: 0;
  top: 0;
}

.dd-container .dd-select {
  width: 96px;
  min-height: 50px;
  border-radius: 5px;
  border: 1px solid #E4E4E4;
  background: #F8F8F8;
}

.dd-select .dd-selected {
  padding-left: 9px;
}

.dd-selected-image.dd-image-right {
  margin-right: 18px;
  margin-top: 4px;
}

.dd-selected-description.dd-desc {
  display: block;
  margin-top: 5px;
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 130%;
  font-style: normal;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
  overflow: hidden;
}

.dd-pointer.dd-pointer-down {
  border: none;
  border-top: none;
  display: block;
  width: 11px;
  height: 7px;
  right: 8px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.18182 1L5.18182 5L9.18182 1' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
  background-repeat: no-repeat;
}

.dd-pointer.dd-pointer-up {
  margin-top: -5px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.18178 6.01063L5.19243 2.00001L1.18181 5.98937' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ");
}

.dd-options.dd-click-off-close {
  margin-top: 1px;
  border: none;
  border-radius: 1px;
  background-color: #F8F8F8;
}

.dd-option.dd-option-selected {
  border-bottom: solid 1px #E4E4E4;
}

.dd-option-image.dd-image-right {
  margin-right: 19px;
}

.dd-option-description.dd-desc {
  font-family: "Montserrat";
  font-size: 14px;
  line-height: 130%;
  font-style: normal;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
}

.product-form__slogan {
  font-size: 30px;
  font-weight: 800;
  line-height: 130%;
  text-align: center;
}

.product-form__header,
.product-form__form {
  width: 100%;
  max-width: 320px;
  min-width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.product-form__header {
  margin-bottom: 28px;
  padding: 0;
}

.product-form__field {
  margin-bottom: 38px;
}

.product-form__field:first-child {
  margin-bottom: 21px;
}

.product-form__label {
  display: inline-block;
  margin-bottom: 7px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 800;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.label-green {
  color: #428A60;
}

.product-form__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-form__input--your-phone {
  margin-right: 10px;
}

.order-btn__text {
  margin-right: 9px;
}

.order-btn__svg-arrow {
  vertical-align: middle;
}

.secure {
  position: relative;
  padding: 11px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  background-color: #F8F8F8;
}

.secure:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 14px;
  height: 15px;
  margin-left: 4px;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='5.71429' width='12.1429' height='9.28572' rx='3' fill='%23428A60'/%3E%3Cpath d='M3.14282 3.92857C3.14282 2.31116 4.45399 1 6.07139 1C7.6888 1 8.99997 2.31117 8.99997 3.92857V6.85714H3.14282V3.92857Z' stroke='%23428A60' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.secure__text span:first-child {
  margin-right: 51px;
}

.instruction {
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: #006363;
}

.instruction__title {
  display: inline-block;
  width: 100%;
  margin: 20px 0 35px;
  font-size: 30px;
  line-height: 46px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.instruction__text {
  margin-bottom: 20px;
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
  font-weight: 400;
}

.instruction__text:last-child {
  margin-bottom: 10px;
}

.gallery {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 10px 20px;
}

.gallery__list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  grid-template: repeat(auto-fit, minmax(150px, 1fr))/repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 30px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.gallery__slide {
  position: relative;
  padding-bottom: 70%;
  cursor: pointer;
}

.gallery__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.gallery__slide--big {
  cursor: default;
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #1F7D63;
}

@media (min-width: 320px) {
  .product-form__header,
  .product-form__form {
    min-width: 80%;
  }
}

@media (min-width: 479.98px) {
  .header__burger-icon {
    display: none;
  }

  .nav {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
    background-color: transparent;
  }

  .nav::before {
    content: none;
  }

  .nav__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
  }

  .nav__link {
    margin-left: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 600;
  }

  .nav__item {
    margin-bottom: 0;
  }

  .product-form__header {
    padding-top: 20px;
  }
}

@media (min-width: 635px) {
  .product-presentation__photo {
    max-width: 100%;
    margin-left: 4px;
  }

  .secure {
    display: none;
  }

  .gallery {
    padding: 20px 80px;
  }
}

@media (min-width: 700px) {
  .gallery__slide--big {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 1 / 1 / 3 / 3;
  }
}

@media (min-width: 1000px) {
  .header__inner {
    padding: 0 80px;
  }

  .product {
    padding: 75px 80px;
  }

  .product__column {
    min-height: 500px;
  }

  .product-presentation {
    padding-left: 40px;
    background: url("data:image/svg+xml,%3Csvg width='696' height='650' viewBox='0 0 696 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.03' filter='url(%23filter0_d)'%3E%3Ccircle cx='348' cy='325' r='334' stroke='white' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-19' width='696' height='696' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat 230px center, -webkit-gradient(linear, left top, left bottom, from(#428A60), to(#35734F));
    background: url("data:image/svg+xml,%3Csvg width='696' height='650' viewBox='0 0 696 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.03' filter='url(%23filter0_d)'%3E%3Ccircle cx='348' cy='325' r='334' stroke='white' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-19' width='696' height='696' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat 230px center, -o-linear-gradient(top, #428A60 0%, #35734F 100%);
    background: url("data:image/svg+xml,%3Csvg width='696' height='650' viewBox='0 0 696 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.03' filter='url(%23filter0_d)'%3E%3Ccircle cx='348' cy='325' r='334' stroke='white' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-19' width='696' height='696' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat 230px center, linear-gradient(180deg, #428A60 0%, #35734F 100%);
  }

  .product-presentation:before {
    content: "";
    position: absolute;
    top: 0;
    right: 70px;
    width: 252px;
    height: 100%;
    -webkit-transform: skew(-12deg);
        -ms-transform: skew(-12deg);
            transform: skew(-12deg);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    -webkit-transition-delay: .0s;
         -o-transition-delay: .0s;
            transition-delay: .0s;
  }

  .product-presentation:hover::before {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }

  .product-presentation.js-parallelogram::before {
    opacity: 1;
    -webkit-transition-delay: 0.5s;
         -o-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }

  .product-presentation__bg-circle {
    left: 0;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    background-size: 70.25%;
    background-position: 20px 36px;
  }

  .product-presentation__image {
    width: auto;
    height: auto;
    top: auto;
    left: 14px;
    bottom: 32px;
  }

  .product-presentation__title,
  .product-presentation__subtitle {
    color: #ffffff;
  }

  .product-presentation__subtitle {
    right: auto;
    bottom: 30px;
    left: 40px;
  }

  .product-form__header,
  .product-form__form {
    min-width: 320px;
  }

  .product-form__header {
    max-width: 100%;
    padding: 29px 10px;
    margin-bottom: 52px;
    border-radius: 0 30px 0  0;
    background-color: #F8F8F8;
  }

  .instruction {
    padding: 20px 80px;
  }

  .gallery__slide--big {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 3;
    grid-area: 1 / 2 / 4 / 5;
  }
}

@media (max-width: 1280px) {
  .instruction__title {
    font-size: calc(20px + 10 * ((100vw - 320px) / 1280 -320));
  }

  .instruction__text {
    font-size: calc(12px + 6 * ((100vw - 320px) / 1280 -320));
  }
}

@media (max-width: 635px) {
  .product-form__slogan br {
    display: none;
  }

  .instruction__title {
    line-height: 30px;
  }
}
@supports (-webkit-appearance:none){
.product-presentation__bg-circle{background-image:url("data:image/svg+xml,%3Csvg viewBox='0 0 202 202' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='101' cy='101' r='101' fill='%23428A60'/%3E%3C/svg%3E")}
.dd-pointer.dd-pointer-down{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M1.18182 1L5.18182 5L9.18182 1' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")}
.dd-pointer.dd-pointer-up{background-image:url("data:image/svg+xml;charset=UTF-8,%3csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M9.18178 6.01063L5.19243 2.00001L1.18181 5.98937' stroke='%23212121' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3e%3c/svg%3e ")}
.secure:before{background-image:url("data:image/svg+xml,%3Csvg width='13' height='15' viewBox='0 0 13 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect y='5.71429' width='12.1429' height='9.28572' rx='3' fill='%23428A60'/%3E%3Cpath d='M3.14282 3.92857C3.14282 2.31116 4.45399 1 6.07139 1C7.6888 1 8.99997 2.31117 8.99997 3.92857V6.85714H3.14282V3.92857Z' stroke='%23428A60' stroke-width='2'/%3E%3C/svg%3E")}
}

 @media (min-width: 320px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 479.98px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 635px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 700px){

@supports (-webkit-appearance:none){

}

}

 @media (min-width: 1000px){

@supports (-webkit-appearance:none){
.product-presentation{background:url("data:image/svg+xml,%3Csvg width='696' height='650' viewBox='0 0 696 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.03' filter='url(%23filter0_d)'%3E%3Ccircle cx='348' cy='325' r='334' stroke='white' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-19' width='696' height='696' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat 230px center, -webkit-gradient(linear, left top, left bottom, from(#428A60), to(#35734F))}
.product-presentation{background:url("data:image/svg+xml,%3Csvg width='696' height='650' viewBox='0 0 696 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.03' filter='url(%23filter0_d)'%3E%3Ccircle cx='348' cy='325' r='334' stroke='white' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-19' width='696' height='696' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat 230px center, -o-linear-gradient(top, #428A60 0%, #35734F 100%)}
.product-presentation{background:url("data:image/svg+xml,%3Csvg width='696' height='650' viewBox='0 0 696 650' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.03' filter='url(%23filter0_d)'%3E%3Ccircle cx='348' cy='325' r='334' stroke='white' stroke-width='20'/%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d' x='0' y='-19' width='696' height='696' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow' result='shape'/%3E%3C/filter%3E%3C/defs%3E%3C/svg%3E") no-repeat 230px center, linear-gradient(180deg, #428A60 0%, #35734F 100%)}
}

}

 @media (max-width: 1280px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 635px){

@supports (-webkit-appearance:none){

}

}
