.gallery {
  margin-bottom: 30px;
  background-color: #f4f4f4;
  padding: 10px 20px;

  @media (min-width: $tablet-width) {
    padding: 20px 80px;
  }
}

.gallery__list {
  justify-content: center;

  display: grid;
  grid-template: repeat(auto-fit, minmax(150px, 1fr)) / repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 30px;
  column-gap: 20px;
}

.gallery__slide-inner {
  
}

  .gallery__slide {
    position: relative;
    padding-bottom: 70%;
    cursor: pointer;
  }
  .gallery__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
      object-fit: cover;
  }  


.gallery__slide--big {
  cursor: default;

  @media (min-width: 700px) {
    grid-area: 1 / 1 / 3 / 3;
  }
  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 4 / 5;
  }
}

