// Colors

$green: #428A60;
$green-gradient: linear-gradient(180deg, #428A60 0%, #35734F 100%);
$lightgrey: #f8f5f2;

// Viwports

$tablet-width: 635px;
$desktop-width: 1000px;
$mobile-width-only: 635px;
$minWidth: 320px;
$maxWidth: 1280px;
$maxWidthContainer: 1280;
$siteWrapper: $maxWidth;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98px;

// Fonts
$fontFamily: "Montserrat";
// Размер шрифта по умолчанию
$fsz-default: 12px;
// Межстрочный интервал по умолчанию
$lh-default: 16px;
// Цвет шрифта по умолчанию
$color-default: #212121;


// Цвет фона по умочанию
$bgс-default: #ffffff;








